<h1>Query <%= @query.id %></h1>

<table>
    <tr>
      <th>headphone_type</th>
      <th>bluetooth_weighting</th>
      <th>battery_weighting</th>
      <th>noise_cancelling_weighting</th>
      <th>base_weighting</th>
      <th>max_price</th>
    </tr>
    <tr>
      <td><%= @query.headphone_type %></td>
      <td><%= @query.bluetooth_weighting %></td>
      <td><%= @query.battery_weighting %></td>
      <td><%= @query.noise_cancelling_weighting %></td>
      <td><%= @query.base_weighting %></td>
      <td><%= @query.max_price %></td>
    </tr>
</table>

<hr>

<h2>Bluetoothh Score: <a href=<%= session[:bluetooth_score] %>></a></h2> <br>
<h2>Noise Cancelling Score: <a href=<%= session[:noise_cancelling_score] %>></a></h2> <br>
<h2>Base Score: <a href=<%= session[:base_score] %>></a></h2> <br>
<h2>Overall Score: <a href=<%= session[:overall_score] %>></a></h2> <br>
<h2>Product Price: <a href=<%= session[:product_price] %>></a></h2> <br>
<h2>Product URL: <a href=<%= session[:product_url] %>></a></h2> <br>
<h2>Top Bluetooth Product: <a href=<%= session[:top_bt_url] %>></a></h2> <br>
<h2>Top Noise Cancelling Product: <a href=<%= session[:top_nc_url] %>></a></h2> <br>
<h2>Top Base Product: <a href=<%= session[:top_b_url] %>></a></h2> <br>



<h4>This is a temporary I-Frame, the actual Product will go in here</h4>
<%= content_tag(:iframe, '', src: "https://www.amazon.com/", width: 560, height: 315, frameborder: 0) %>
